@using U5_W2_P.Models
@model List<Cliente>

@{
    ViewBag.Title = "Cliente";
}

<h2>Clienti</h2>

<p>
    @Html.ActionLink("Aggiungi un nuovo cliente", "CreaCliente")
</p>
<table class="table">
    <tr>
        <th>
            Cliente
        </th>
        <th>
            Nome
        </th>
        <th>
            Cognome
        </th>
        <th>
            Email
        </th>
        <th>
            Telefono
        </th>
        <th>
            Cellulare
        </th>
        <th>
            Citta
        </th>
        <th>
            Provincia
        </th>
        <th>
            CodiceFiscale
        </th>
        <th></th>
    </tr>

@foreach (Cliente item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cognome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cellulare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Citta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provincia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodiceFiscale)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
